// Breakpoints
$screen-xxs: 480px;
$screen-xs: 576px;
$screen-sm: 768px;
$screen-md: 980px;
$screen-lg: 1280px;
$screen-xl: 1440px;

// Spacing
$xxs: 0.125rem;
$xs: 0.25rem;
$sm: 0.5rem;
$md: 1rem;
$lg: 1.5rem;
$xl: 2rem;
$xxl: 3rem;
$xxxl: 4rem;

// Radius
$radius-sm: 4px;
$radius-md: 8px;
$radius-lg: 16px;

// Font
$font-xs: 0.75rem;
$font-sm: 0.875rem;
$font-md: 1rem;
$font-lg: 1.125rem;

$normal: 400;
$semi: 500;
$semi-bold: 600;
$bold: 700;
$heavy: 800;