// Spacing
$xxs: 2px;
$xs: 4px;
$sm: 8px;
$md: 16px;
$lg: 24px;
$xl: 32px;
$xxl: 48px;

// Font Sizing
$xsFont: 12px;
$smFont: 14px;
$mdFont: 16px;
$lgFont: 18px;

// Border radius
$smRadius: 8px;
$mdRadius: 16px;
$lgRadius: 32px;

// Responsive design
$smallResponsiveWidth: 800px;
$mediumResponsiveWidth: 1200px;
$headerMobileWidth: 672px;

$headerHeight: 64px;
$footerHeight: 96px;
