@use './_format' as *;

$sideMargin: 128px;

.full {
    width: calc(100% - #{$sideMargin});
    max-width: 1920px;
}

// Favor responding at a maximum breakpoint for consistency
@mixin respond-max($breakpoint) {
    @media (max-width: $breakpoint) {
        @content;
    }
}

@mixin respond-min($breakpoint) {
    @media (min-width: $breakpoint) {
        @content;
    }
}
