@forward 'core';

[class^='phantom-icon'] {
    vertical-align: text-top;
}

[class^='phantom-card'] {
    border: none !important;

    > [class^='phantom-header'] {
        color: var(--color-primary-text);
        font-weight: 500;
    }
}
