.layout {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    main {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        background-color: var(--color-background-page);
    }

    article {
        flex-grow: 1;
        padding: var(--space-xl);
    }
}

.darken {
    width: 100vw;
    height: 100vh;
    position: fixed;
    inset: 0;
    background-color: rgb(0 0 0 / 15%);
    z-index: 102;
}

.aside {
    width: 224px;
    position: sticky;
    inset: 0;
    height: 100vh;
    padding: var(--space);
    overflow-y: auto;
    flex-shrink: 0;
    background-color: var(--color-background-dark);
    border-right: var(--border-dark);
    color: white;
    z-index: 103;
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);

    button,
    a {
        color: white;
        font-weight: 600;
        padding-block: 0 !important;
    }

    &.mobile {
        position: fixed;
        inset: 0;
        height: 100%;
        transition: transform var(--transition-mid);

        &[data-toggled='true'] {
            transform: translateX(0);
        }

        &[data-toggled='false'] {
            transform: translateX(-256px);
        }
    }
}
