{% extends "base.html" %}

{% block title %}
Results | B3T
{% endblock %}

{% block content %}

<div class="content-header">
    <div class="content-header-intro">
        <h1>BLOC Analysis Failed</h1>
        <p>Unable to generate results for the following accounts: 
            {% for username in query %}
                <b>@{{username}}</b>, 
            {% endfor %}
        </p>
        {% for error in errors %}
            <h3>Error: <span class="special-text">@{{error.account_username}}</span></h3>
            <p>Unable to analyze account due to <i>{{error.error_title}}</i>.</p>
            <p>Details: <i>{{error.error_detail}}</i></p>
        {% endfor %}
    </div>
    <div class="content-header-actions">
        <!--<button>
            <span class="icon material-symbols-outlined">bolt</span>
            <span>Button 1</span>
        </button>
        <button>
            <span class="icon material-symbols-outlined">settings</span>
            <span>Button 2</span>
        </button>-->
    </div>
</div>

{% endblock %}