{% extends "components/base.html" %}

{% block title %}
Results | BLOC
{% endblock %}

{% block content %}

<div class="content-header">
    <div class="content-header-intro">
        <h1>BLOC Analysis Failed</h1>
        <p>Unable to generate results for the following accounts: 
            {% for username in query %}
                <strong>@{{username}}</strong>{% if forloop.last %}.{% else %},{% endif %}
            {% endfor %}
        </p>
        {% for error in errors %}
            <h3>Error: <span class="special-text">@{{error.account_username}}</span></h3>
            <p>Unable to analyze account due to <em>{{error.error_title}}</em>.</p>
            <p>Details: <em>{{error.error_detail}}</em></p>
        {% endfor %}
    </div>
</div>

{% endblock %}