{% extends "components/base.html" %}

{% block title %}
Analyze | B3T
{% endblock %}


{% block content %}
<div class="wide-centered">
  <div class="column half-width">
    {% if previous_results %}
      <button class="full-button" onclick="location.href='{% url 'results' %}'" type="button">View Previous Results</button>
    {% endif %}
    <h1>Analyze</h1>
    <div class="search">
      <form name = "form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group{% if field.errors %} has-error{% endif %}">
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {{ field }}
          {% for error in field.errors %}
            <p class="form-error">{{ error }}</p>
          {% endfor %}
        </div>
        {% endfor %}
        <button type="submit">
          <span class="icon material-symbols-outlined">search</span>
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock %}