{% extends "components/base.html" %}

{% block title %}
Home | B3T
{% endblock %}


{% block content %}
<h1>Home</h1>
<p><i>B<sup>3</sup>T</i> (<i>BLOC-Based Behavioural Tool</i>) is a cutting-edge online utility designed to help researchers, journalists, social media analysts, 
  and any other interested parties in identifying and quantitatively describing the behaviour of Twitter accounts. 
  With the global rise of misinformation, <i>B<sup>3</sup>T</i> offers a unique solution by providing a powerful tool to track shifts in 
  behaviour through the powerful BLOC language and identify potential bot accounts with ease.
  Capable of detecting a broad range of legitimate and suspicious behaviours, as well as accounts which display both, 
  <i>B<sup>3</sup>T</i> offers a flexible and generalizable method for analyzing Twitter accounts -
  making it an essential tool for anyone looking to study and detect coordinated disinformation on social media platforms.</p>
<div class="wide-centered"> 
  <button class="full-button" onclick="location.href='{% url 'analyze-user' %}'" type="button">Analyze Account Behaviour</button>
</div>
{% endblock %}