{% extends "base.html" %}

{% block title %}
Home | B3T
{% endblock %}


{% block content %}
<div class="row">
  <div class="col-lg">
    <h1>Home</h1>
    <p><i>B<sup>3</sup>T</i> (<i>BLOC-Based Behavioural Tool</i>) is an online utility to help in analyzing and quantitatively describing the behaviour of Twitter accounts. 
      In an age of growing misinformation, B<sup>3</sup>T can assist in identifying likely bot accounts as well as tracking shifts in their behaviour.</p>
    <p>While BLOC can be applied to other social media accounts, this tool currently supports Twitter exclusively. </p>
  </div>
  <div class="col-lg">
    <div class="row d-flex justify-content-center">
      <button type="button" class="btn btn-outline-dark col-10 special-button" button onclick="location.href='{% url 'analyze' %}'" type="button">Analyze Account Behaviour</button>
    </div>
    <div class="row d-flex justify-content-center">
      <button type="button" class="btn btn-outline-dark disabled col-10 special-button">Track Account Behaviour Change<br><span style="font-size:12px">Coming Soon</span></button>
      </div>
  </div>
</div>
{% endblock %}