{% extends "components/base.html" %}

{% block title %}
Methodology | BLOC
{% endblock %}

{% block content %}
<h1>Methodology</h1>
<p> 
    BLOC, or Behavioral Language for Online Classification, is a language that represents social media account behaviors, including both benign and malicious ones. 
    It is not limited to human behaviors, but can also capture the behaviors of cyborgs and bots. 
    BLOC words consist of symbols drawn from different alphabets to represent various aspects of online activity, such as the temporality of actions or forms of content. 
    These symbols are mapped to features that can help detect bots and coordinated behaviors.
</p>
<p>
    The BLOC language is flexible and generalizable, and can be used to detect suspicious behaviors without requiring specific fine-tuning. 
    This is in contrast to other methods that rely on features designed to target specific types of malicious behaviors, which may not generalize well to other types. 
    BLOC can represent a broad range of legitimate and suspicious behaviors, making it a versatile tool for studying and detecting social media account behaviors.
</p>
<p>
    BLOC outperforms previous state-of-the-art methods for detecting bot coordinated behaviour in terms of efficiency and accuracy, while using significantly fewer features.
    For more information, please see the BLOC paper: <a href="https://arxiv.org/abs/2211.00639">A General Language for Modeling Social Media Account Behavior</a> 
    as well as the <a href="https://github.com/anwala/bloc">BLOC Project GitHub.</a>
</p>
{% endblock %}