@use '../../styles' as *;

.footer {
	--v-footer-height: 128px;

	width: 100%;
	min-height: var(--v-footer-height);
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: start;
	padding: $lg max(calc((100% - $screen-lg) / 2), 3%);
	background-color: var(--c-bg);
	color: var(--c-fg);
	font-size: $font-xs;

	> div {
		border-top: var(--b-light);
		padding-top: $md;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	@include respond-max($screen-lg) {
		padding-left: 3%;
		padding-right: 3%;
	}

	p {
		margin: 0;
	}

	a {
		color: var(--c-fg);
		text-decoration: none;
	}
}
