@use '../../styles' as *;
@use 'sass:math';

.header {
    --v-header-height: 64px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--v-header-height) !important;
    background-color: var(--c-bg-theme-light);
    border-bottom: var(--b-light);
    box-shadow: var(--shadow-high);
    z-index: 10;
    position: sticky;
    top: 0;
    left: 0;

    .content {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0 $lg;

        .navigation {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-left: auto;
        }

        .navLinks {
            display: flex;
            align-items: center;
            gap: $xs;
        }
    }

    @include respond-max($screen-sm) {
        --v-header-height: 96px;

        .content {
            flex-direction: column;
            gap: $xs;
            margin-top: $sm;

            .navigation {
                margin-left: 0;
            }
        }
    }
}

.logo {
    height: 100%;
    display: flex;
    align-items: center;

    > img {
        height: 40px;
        aspect-ratio: 4;
    }
}

.tools {
    display: flex;
    flex-direction: column;
    gap: $sm;
}
