@use '../../styles' as *;

.section {
	--v-min-padding: 3%;
	width: 100%;
	min-height: 128px;
	background-color: var(--c-bg-theme-light);
	padding: $xxl max(calc((100% - $screen-lg) / 2), var(--v-min-padding));
	flex-grow: 1;

	&.alt {
		background-color: var(--c-bg-theme);
	}

	&.highlight {
		background-color: var(--c-primary);
		color: var(--c-fg-on-primary);
	}

	&.parallax {
		background-attachment: fixed;
		background-position: center center;
		background-size: cover;
	}

	@include respond-max($screen-lg) {
		padding-left: var(--v-min-padding);
		padding-right: var(--v-min-padding);
	}

	&.floating {
		width: 600px;
		margin: $xxl 0;
		padding: $xl;
		border-radius: $radius-md;
		box-shadow: var(--shadow-high);
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: center;
		gap: 12px;
		flex-grow: 0;

		> svg {
			width: 460px;
			height: 64px;
		}

		@include respond-max($screen-sm) {
			width: 100%;
			margin-top: 0;
			padding-top: $xxl $xl;
			box-shadow: none;
		}
	}

	&.inset {
		width: calc(100% - 64px);
		margin: 32px;
		min-height: 128px;
		//background-color: var(--c-bg-light);
		border-radius: $radius-md;
		//padding: $xl;
		font-size: $font-lg;
		box-shadow: var(--shadow-high);
	}
}
