@use '../styles' as *;

.split {
    margin-bottom: var(--space-lg);
    background-color: var(--color-background-foreground);
    border-left: 4px solid var(--color-primary-text);
    color: var(--color-primary-text);
    position: relative;

    > div {
        padding: var(--space) var(--space) var(--space) var(--space-lg);
        display: grid;
        grid-template-columns: 448px 1fr;
        grid-gap: var(--space-xl);
        box-shadow: var(--shadow-raised);

        @include respond-max($screen-lg) {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto;
            grid-gap: var(--space-lg);
        }
    }

    .settings {
        position: absolute;
        right: 8px;
        top: 8px;
        z-index: 1;
    }
}

.analysis {
    color: var(--color-text);
    border: var(--border-light);
    border-radius: var(--border-radius);
    display: flex;
    position: relative;

    > div:first-child {
        width: 100%;
        padding: var(--space);
    }
}

.loading {
    position: relative;
    width: var(--space);
    height: var(--space);
    border-radius: var(--space-sm);
    background-color: var(--color-primary-text);
    color: var(--color-primary-text);
    animation: dot-flashing 1s infinite linear alternate;
    animation-delay: 0.5s;
}

.loading::before,
.loading::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    width: var(--space);
    height: var(--space);
    border-radius: var(--space-sm);
    background-color: var(--color-primary-text);
    color: var(--color-primary-text);
    animation: dot-flashing 1s infinite alternate;
}

.loading::before {
    left: calc(var(--space-xl) * -1);
    animation-delay: 0s;
}

.loading::after {
    left: var(--space-xl);
    animation-delay: 1s;
}

@keyframes dot-flashing {
    0% {
        background-color: var(--color-primary-text);
    }

    50%,
    100% {
        background-color: var(--color-primary-alpha);
    }
}
