// -------- Site Wide Styling --------
$smallResponsiveWidth: 800px;
$mediumResponsiveWidth: 1200px;
$headerMobileWidth: 672px;

$headerHeight: 60px;
$footerHeight: 40px;

:root {
	--s-white: #ffffff;
	--s-lightgrey: #f2f4f8;
	--s-black: #333;
}

html[data-theme='dark'] {
	--c-text-primary: var(--s-white);
	--c-text-secondary: var(--s-lightgrey);
	--c-text-action: var(--s-white);
	--c-text-accent: var(--s-white);

	--c-accent-primary: #256ff0;
	--c-accent-secondary: #a0c2f2;

	--c-border-primary: #28293d;
	
	--c-background-primary: #1c1c28;
	--c-background-secondary: #2159c0;
	--c-background-tertiary: #28293d;

	--c-disabled-background: var(--c-background-tertiary);
	--c-disabled-color: #494848;

	.header-logo {
		filter: invert(1);
	}
}

html[data-theme='light'] {
	--c-text-primary: var(--s-black);
	--c-text-secondary: #686b87;
	--c-text-action: var(--s-black);
	--c-text-accent: var(--s-white);

	--c-accent-primary: #be233d;
	--c-accent-secondary: #ff2e51;

	--c-border-primary: var(--s-lightgrey);
	
	--c-background-primary: #fdfcff;
	--c-background-secondary: #fdbcb8;
	--c-background-tertiary: var(--s-lightgrey);

	--c-disabled-background: var(--c-background-tertiary);
	--c-disabled-color: #cfd1d6;
}

body {
	line-height: 1.5;
	font-family: "Be Vietnam Pro", sans-serif;
	background-color: var(--c-background-primary);
	color: var(--c-text-primary);
}

main {
	// The SASS variable needs to be interpolated with #{} to be used in a CSS calculation
	min-height: calc(98vh - #{$headerHeight} - #{$footerHeight} - 8px);
}

.main {
	padding-top: 2rem;
	padding-bottom: 8rem;
}

html {
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: var(--c-border-primary);
  }

  &::-webkit-scrollbar-thumb {
    background-color: lightgrey;
    border-radius: 10px;
    border: 3px solid var(--c-border-primary);
  }
}

.responsive-wrapper {
	width: 95%;
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
}

// -------- Header / Navigation Bar --------

.header {
	display: flex;
	align-items: center;
	height: $headerHeight;
	border-bottom: 1px solid var(--c-border-primary);
	background-color: var(--c-background-primary);
}

.header-content {
	display: flex;
	align-items: center;
	& > a {
		display: none;
	}
	@media (max-width: 1200px) {
		justify-content: space-between;
		& > a {
			display: inline-flex;
		}
	}
}

.header-logo {
	margin-right: 2.5rem;

	a {
		display: flex;
		align-items: center;

		div {
			flex-shrink: 0;
			position: relative;
			width: $headerHeight;
		}
		
	}
}

.header-navigation {
	display: flex;
	flex-grow: 1;
	align-items: center;
	justify-content: space-between;

	@media (max-width: $headerMobileWidth) {
		justify-content: flex-end;
	}
}

.header-navigation-links {
	display: flex;
	align-items: center;

	a {
		text-decoration: none;
		color: var(--c-text-action);
		font-weight: 500;
		padding: 8px;
		transition: 0.15s ease;
		& + * {
			margin-left: 1.5rem;
		}

		&:hover,
		&:focus {
			color: var(--c-accent-primary);
		}
		
		&.active {
			border-radius: 8px;
			background-color: var(--c-background-secondary);
		}
	}

	@media (max-width: $headerMobileWidth) {
		display: none;
	}
}

.header-navigation-actions {
	display: flex;
	align-items: center;

	& > * {
		margin: auto 0.5rem;
	}

	@media (max-width: $headerMobileWidth) {
		display: none;
	}
}

.icon-button {
	font: inherit;
	color: inherit;
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border-radius: 8px;
	color: var(--c-text-action);
	transition: 0.15s ease;

	span {
		font-size: 1.25em;
	}

	&:focus,
	&:hover {
		background-color: var(--c-background-secondary);
		color: var(--c-accent-primary);
	}

	&.disabled {
		background-color: var(--c-disabled-background);
		color: var(--c-disabled-color);
		border-color: var(--c-disabled-color);
		pointer-events: none;
	}
}

#menu-toggle {
	display: inherit;
	z-index: 100;

	@media (min-width: $headerMobileWidth) {
		display: none;
	}
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: var(--c-background-primary);
	border-left: 1px solid var(--c-border-primary);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }

// -------- Footer
footer {
	width: 100%;
	height: $footerHeight;
}

.footer {
	justify-content: center;
	display: flex;

	.footer-content {
		color: var(--c-text-primary);
		font-size: 12px;
		border-top: 1px solid var(--c-border-primary);
	}
}

// -------- Content Styling --------

img {
	display: block;
	max-width: 100%;
}

:focus {
	outline: 0;
}

@mixin button {
	font: inherit;
	color: inherit;
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0 1em;
	height: 40px;
	border-radius: 8px;
	line-height: 1;
	border: 2px solid var(--c-border-primary);
	color: var(--c-text-action);
	font-size: 0.875rem;
	transition: 0.15s ease;
	background-color: var(--c-background-primary);

	.icon {
		margin-right: 0.5rem;
		font-size: 1.25em;
	}

	span {
		font-weight: 500;
	}

	&:hover,
	&:focus {
		border-color: var(--c-accent-primary);
		color: var(--c-accent-primary);
	}

	&.disabled {
		background-color: var(--c-disabled-background);
		color: var(--c-disabled-color);
		border-color: var(--c-disabled-background);
		pointer-events: none;
	}

	&.active {
		color: var(--c-text-accent);
		background-color: var(--c-accent-primary);
	}
}

button {
	@include button;
}

.wide-centered {
	width: 100%;
	align-items: center;
	justify-content: center;
	display: flex;
}

.full-button {
	width: 100%;
	height: 80px;
	font-weight: bold;
	margin-top: 1em;
}

.search {
	position: relative;
	display: flex;
	align-items: center;
	width: 80%;
	max-width: 340px;
	
	input {
		font: inherit;
		color: inherit;
		text-decoration: none;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		padding: 0 56px 0 10px;
		height: 40px;
		border-radius: 8px;
		background-color: var(--c-background-primary);
		border: 2px solid var(--c-border-primary);
		color: var(--c-text-action);
		font-size: 1rem;
		transition: 0.15s ease;
		width: 100%;
		line-height: 1;

		&::placeholder {
			color: var(--c-disabled-color);
		}

		&:focus,
		&:hover {
			border-color: var(--c-accent-primary);
		}
	}

	button {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		border: 0;
		background-color: transparent;
		position: absolute;
		right: -68px;
		top: 26px;
		font-size: 1.25em;
		color: var(--c-text-action);
		height: 40px;
		padding: 0 5px 0 10px;

		&:focus,
		&:hover {
			color: var(--c-accent-primary);
			background-color: var(--c-background-secondary);
		}
		
	}
}

.form-error {
	padding: 0.5em;
	margin: 0.5em;
	background-color: var(--c-background-secondary);
	border-radius: 8px;

}
	
.content {
	border: 1px solid var(--c-border-primary);
	display: block;
	background-color: var(--c-background-tertiary);
	padding: 1rem;
	border-radius: 0 0 1rem 1rem;
	
	&.inactive {
		display: none;
	}

	&.solo {
		border-radius: 1rem;
	}
}

.content-header {
	margin-bottom: 1rem;
	padding-bottom: 0.5rem;
	border-bottom: 1px solid var(--c-border-primary);
}

.content-subheader {
	margin-top: 2rem;
	display: flex;
	justify-content: center;

	div {
		background-color: var(--c-background-primary);
		box-shadow: 0 3px 3px 0 rgba(#000, 0.05), 0 5px 15px 0 rgba(#000, 0.05);
		border: 1px solid var(--c-border-primary);
		padding: 10px;
		border-radius: 8px;
		text-align: center;
		width: 90%;
	}	
}

.content-main {
	padding-top: 2rem;
	padding-bottom: 2rem;
	flex-grow: 1;
	display: flex;
	align-items: flex-start;
}

.card-grid {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	column-gap: 1.5rem;
	row-gap: 1.5rem;
	//grid-auto-flow: dense;
	width: 100%;

	@media (min-width: 800px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (min-width: 1200px) {
		grid-template-columns: repeat(3, 1fr);
	}

}

.card {
	background-color: var(--c-background-primary);
	box-shadow: 0 3px 3px 0 rgba(#000, 0.05), 0 5px 15px 0 rgba(#000, 0.05);
	border: 1px solid var(--c-border-primary);
	border-radius: 8px;
	//overflow: hidden;
	display: flex;
	flex-direction: column;
	/* Set the card to fill its container horizontally */
	width: 100%;
	/* Set the card body to grow to fill the available space */
	flex-grow: 1;
	grid-column-end: span 1;
	grid-row-end: span 1;

	&.full-wide {
		@media (min-width: $smallResponsiveWidth) {
			grid-column-end: span 2; 
		}
	
		@media (min-width: $mediumResponsiveWidth) {
			grid-column-end: span 3; 
		}
	}

	&.wide {
		@media (min-width: $smallResponsiveWidth) {
			grid-column-end: span 2; 
		}
	}
}

.card-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0rem 0.5rem;
	div {
		display: flex;
		align-items: center;

		span {
			width: 40px;
			height: 40px;
			border-radius: 8px;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			img {
				// max-width: 85%;
				max-height: 100%;
			}
		}

		h3 {
			margin-left: 0.75rem;
			font-weight: 500;
		}
	}
}

.toggle {
	span {
		display: block;
		width: 40px;
		height: 24px;
		border-radius: 99em;
		background-color: var(--c-disabled-background);
		box-shadow: inset 1px 1px 1px 0 rgba(#000, 0.05);
		position: relative;
		transition: 0.15s ease;
		&:before {
			content: "";
			display: block;
			position: absolute;
			left: 3px;
			top: 3px;
			height: 18px;
			width: 18px;
			background-color: var(--c-background-primary);
			border-radius: 50%;
			box-shadow: 0 1px 3px 0 rgba(#000, 0.15);
			transition: 0.15s ease;
		}
	}

	input {
		clip: rect(0 0 0 0);
		clip-path: inset(50%);
		height: 1px;
		overflow: hidden;
		position: absolute;
		white-space: nowrap;
		width: 1px;
		&:checked + span {
			background-color: var(--c-accent-primary);
			&:before {
				transform: translateX(calc(100% - 2px));
			}
		}

		&:focus + span {
			box-shadow: 0 0 0 4px var(--c-background-secondary);
		}
	}
}

.card-toggle-body {
	padding: 0rem 1.25rem;
	font-size: 0.875rem;
	max-height: 0px;
	overflow: hidden;
	transition: max-height 0.5s ease-in-out;
	background-color: var(--c-background-secondary);
	margin: 0px 20px;
	border-radius: 8px;

	&.active {
		--extended-height: 0px;
		max-height: var(--extended-height);
	}

}

.card-body {
	padding: 0.5rem 1.25rem;
	font-size: 0.875rem;
	overflow-wrap: anywhere;
}

.scrollable {
	padding: 0.25rem 0.5rem;
	max-height: 400px;
	overflow-y: scroll;
	overflow-x: hidden;

	&::-webkit-scrollbar {
		width: 10px;
		height: 10px;
	}

	&::-webkit-scrollbar-track {
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background-color: lightgrey;
		border-radius: 10px;
		border: 3px solid var(--c-border-primary);
	}

	&::-webkit-scrollbar-track-piece {
		background-color: transparent;
	}
}
  
.card-footer {
	margin-top: auto;
	padding: 0.5rem 1.25rem;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	border-top: 1px solid var(--c-border-primary);
	a {
		color: var(--c-text-action);
		text-decoration: none;
		font-weight: 500;
		font-size: 0.875rem;
	}
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	line-height: normal;
	text-align: center;

}
  
th {
	padding: 8px;
	border-bottom: 1px solid var(--c-border-primary);
}

td {
	padding: 4px 4px;

}
  
tr:nth-child(odd):not(:first-child) {
	background-color: var(--c-disabled-background);
}

.table-main {
	// Requires a width before max-width applies
	width: 100%;
	max-width: 50%;
}

.special-text {
	padding: 0.25em;
	background-color: var(--c-background-secondary);
	border-radius: 8px;
}

.tab-buttons {
	display: flex;

	button {
		flex-grow: 1;
		flex-basis: 0;
		border-radius: 10px 10px 0 0;

		&:not(:last-child) {
			margin-right: 0.5rem;
		}

		&.active {
			background-color: var(--c-background-tertiary);
			color: var(--c-text-action);
			font-weight: bold;
		}
	}
}

.hoverable-text {
	position: relative;
	display: inline-block;
	margin-left: -0.25em;

	.hoverable-tooltip {
		visibility: hidden;
		width: 120px;
		bottom: 100%;
		left: 50%;
		margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
		background-color: var(--c-text-primary);
		color: var(--c-background-primary);
		text-align: center;
		border-radius: 6px;
		padding: 5px 0;
	  
		/* Position the tooltip */
		position: absolute;
		z-index: 999;

		&.large {
			white-space: nowrap;
			padding: 10px;
			width: fit-content;
		}

		&::after {
			content: " ";
			position: absolute;
			top: 100%; /* At the bottom of the tooltip */
			left: 50%;
			margin-left: -5px;
			border-width: 5px;
			border-style: solid;
			border-color: var(--c-text-primary) transparent transparent transparent;
		}
	}

	&:hover {
		background-color: var(--c-background-secondary);

		.hoverable-tooltip {
			visibility: visible;
		  }
	}
  }

.half-width {
	width: 50%;
}

.submit-button {
	margin: auto;
	margin-top: 16px;
}

input[type="file"] {
	border: 1px solid var(--c-text-secondary);
	width: 100%;
	height: 96px;
	border-radius: 8px;
	margin-top: 8px;

	&::before {
		content: "";
		-webkit-mask: url('../images/upload_file.svg') no-repeat 100% 100%;
		mask: url('../images/upload_file.svg') no-repeat 100% 100%;
		-webkit-mask-size: cover;
		mask-size: cover;
  		background-color: var(--c-text-primary);
		width: 64px;
		height: 64px;
		margin: auto;
		margin-top: 16px;
		margin-bottom: 128px;
	}

	&::file-selector-button{
		@include button;
		background-color: green;
	}

	display: flex;
}