.grid {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: var(--space);
    width: 100%;
    min-height: 320px;
    border-radius: var(--border-radius);

    &.dense {
        grid-auto-flow: dense;
    }

    @include respond-max($screen-lg) {
        grid-template-columns: repeat(8, minmax(0, 1fr));
    }

    @include respond-max($screen-sm) {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

.item {
    width: 100%;
    height: auto;
    grid-column-end: span 4;

    &[data-grid-item='normal'] {
        @include respond-max($screen-lg) {
            grid-column-end: span 4;
        }

        @include respond-max($screen-sm) {
            grid-column-end: span 4;
        }
    }

    &[data-grid-item='wide'] {
        grid-column-end: span 6;

        @include respond-max($screen-lg) {
            grid-column-end: span 8;
        }

        @include respond-max($screen-sm) {
            grid-column-end: span 4;
        }
    }

    &[data-grid-item='full'] {
        grid-column-end: span 12;

        @include respond-max($screen-lg) {
            grid-column-end: span 8;
        }

        @include respond-max($screen-sm) {
            grid-column-end: span 4;
        }
    }
}
