@use '../styles' as *;

$smallResponsiveWidth: 800px;
$mediumResponsiveWidth: 1200px;
$headerMobileWidth: 672px;

.content {
    display: flex;
    flex-direction: column;
}

.contentHeader {
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--c-b-neutral);
    height: fit-content;
}

.specialText {
	padding: 0.25em;
	background-color: var(--c-primary);
    color: var(--c-fg-neutral-inverse);
	border-radius: 8px;
}

.contentMain {
	padding-top: 2rem;
	padding-bottom: 2rem;
	flex-grow: 1;
	display: flex;
	align-items: flex-start;
}

.cardGrid {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	column-gap: 1.5rem;
	row-gap: 1.5rem;
	//grid-auto-flow: dense;
	width: 100%;

	@media (min-width: 800px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (min-width: 1200px) {
		grid-template-columns: repeat(3, 1fr);
	}

}

.card {
	background-color: var(--c-bg-neutral-light);
	box-shadow: 0 3px 3px 0 rgba(#000, 0.05), 0 5px 15px 0 rgba(#000, 0.05);
	border: 1px solid var(--c-b-neutral);
	border-radius: 8px;
	//overflow: hidden;
	display: flex;
	flex-direction: column;
	width: 100%;
	flex-grow: 1;
	grid-column-end: span 1;
	grid-row-end: span 1;

	&.full-wide {
		@media (min-width: $smallResponsiveWidth) {
			grid-column-end: span 2; 
		}
	
		@media (min-width: $mediumResponsiveWidth) {
			grid-column-end: span 3; 
		}
	}

	&.wide {
		@media (min-width: $smallResponsiveWidth) {
			grid-column-end: span 2; 
		}
	}
}

.cardHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: $lg $md $md $md;
	div {
		display: flex;
		align-items: center;

		span {
			width: 40px;
			height: 40px;
			border-radius: 8px;
			display: inline-flex;
			align-items: center;
			justify-content: center;
		}
	}
}

.cardToggleBody {
	padding: 0rem 1.25rem;
	font-size: 0.875rem;
	max-height: 0px;
	overflow: hidden;
	transition: max-height 0.5s ease-in-out;
	background-color: var(--c-background-secondary);
	margin: 0px 20px;
	border-radius: 8px;

	&.active {
		--extended-height: 0px;
		max-height: var(--extended-height);
	}

}

.cardBody {
	padding: 0.5rem 1.25rem;
	font-size: 0.875rem;
	overflow-wrap: anywhere;
}

.scrollable {
	padding: 0.25rem 0.5rem;
	max-height: 400px;
	overflow-y: scroll;
	overflow-x: hidden;

	&::-webkit-scrollbar {
		width: 10px;
		height: 10px;
	}

	&::-webkit-scrollbar-track {
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background-color: lightgrey;
		border-radius: 10px;
		border: 3px solid var(--c-b-neutral);
	}

	&::-webkit-scrollbar-track-piece {
		background-color: transparent;
	}
}
  
.cardFooter {
	margin-top: auto;
	padding: 0.5rem 1.25rem;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	border-top: 1px solid var(--c-b-neutral);
	
    a {
		color: var(--c-fg-neutral);
		font-weight: 500;
		font-size: 0.875rem;

        &:hover {
            color: var(--c-primary);
            text-decoration: none;
        }
	}
}

.icon {
    width: 32px;
    margin-right: 0.5rem;

    > svg {
        width: 30px;
    }
}