@use '../styles' as *;

.content {
    display: flex;
    flex-direction: column;
}

.contentHeader {
    margin-bottom: 1rem;
    padding-bottom: $xl;
    border-bottom: var(--b-thin) var(--c-b-neutral);
    height: fit-content;
}

.specialText {
	padding: $xs;
    margin-right: $sm;
	background-color: var(--c-primary);
    color: var(--c-fg-neutral-inverse);
	border-radius: $smRadius;
}

.contentMain {
	padding-top: 2rem;
	padding-bottom: 2rem;
	flex-grow: 1;
	display: flex;
    flex-direction: column;
	align-items: flex-start;
}

.cardGrid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 1.5rem;
	row-gap: 1.5rem;
	//grid-auto-flow: dense;
	width: 100%;
    min-height: 320px;
    background-color: var(--c-primary-alpha-light);
    padding: $md;
    border-radius: $mdRadius;
	box-shadow: var(--shadow);

	@media (min-width: 800px) {
		grid-template-columns: repeat(8, 1fr);
	}

	@media (min-width: 1200px) {
		grid-template-columns: repeat(12, 1fr);
	}

}

.tabButtons {
    padding: 0 $md;
	width: 100%;

	> button {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		border-bottom: none;
		background-color: var(--c-primary-alpha-light);

		&:not(:last-of-type) {
            margin-right: $sm;
        }

        &:not(:first-of-type) {
            margin-left: $sm;
        }
	}
}

button[data-active=true] {
	background-color: var(--c-primary) !important;
	color: var(--c-fg-neutral-inverse) !important;
}

.analyzeAnother {
	position: relative;
	top: -12px;

	&:hover {
		text-decoration: none;
	}
}