@use '../' as *;

em {
    font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
    font-style: normal;
    font-weight: 600;
}

p {
    line-height: inherit;
}

section {
    padding-block: 48px !important;
}

body {
    background-color: var(--color-background-foreground);
}
