@use '../styles' as *;

.content {
	display: flex;
	flex-direction: column;
}

.columns {
	display: flex;
	height: 100%;
	margin-top: $xl;

	> div {
		width: 50%;

		&:not(:last-of-type) {
			margin-right: $sm;
		}

		&:not(:first-of-type) {
			margin-left: $sm;
		}
	}

	@media screen and (max-width: 900px) {
		flex-direction: column;

		> div {
			width: 100%;
			margin: 0;
		}
	}
}

.card {
	min-height: 250px;
	height: fit-content;
	padding: $md;
	border-radius: $radius-md;
	border: 1px solid var(--c-b-neutral);
	background-color: var(--c-bg-light);
	box-shadow: var(--shadow-lifted);
	margin-bottom: $xl;

	> h3 {
		text-align: center;
		margin-bottom: $lg;
	}
}

.example {
	width: 100%;
	padding: $sm;
	border-radius: $radius-sm;
	display: flex;
	justify-content: start;
	border: 1px solid var(--c-b-neutral);

	:last-child {
		margin-left: auto;
	}
}

.split {
	display: grid;
	grid-template-columns: 400px 1fr;
	grid-gap: $xl;

	> div:nth-child(2) {
		border: var(--b-light);
		padding: $xl;
		box-shadow: var(--shadow-lifted);
	}

	@include respond-max($screen-md) {
		grid-template-columns: 1fr;
		grid-template-rows: auto auto;
	}
}

.gradient {
	background: linear-gradient(180deg, var(--c-bg-light) 0%, var(--c-bg) 10%);
}