@use '../styles' as *;

.split > div {
    // padding-block: $sm !important;
    display: grid !important;
    grid-template-columns: 400px 1fr;
    grid-gap: $xl;

    @include respond-max($screen-md) {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-gap: $lg;
    }
}

.results {
    padding-top: 0 !important;
}

.analysis {
    color: var(--color-text);
    background-color: var(--color-surface-foreground);
    padding: $md;
    border-radius: var(--border-radius);
}