@use '../styles' as *;

.split {
    margin-bottom: var(--space-lg);

    >div {
        padding: var(--space) var(--space-lg);
        background-color: var(--color-background-foreground);
        display: grid;
        grid-template-columns: 448px 1fr;
        grid-gap: var(--space-xl);
        box-shadow: var(--shadow-raised);
        border-radius: var(--border-radius);

        @include respond-max($screen-lg) {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto;
            grid-gap: var(--space-lg);
        }
    }
}

.results {
    padding-top: 0 !important;
}

.analysis {
    $config-width: 40px;

    color: var(--color-text);
    border: var(--border-light);
    //background-color: var(--color-background-foreground);
    border-radius: var(--border-radius);
    display: flex;
    position: relative;

    >div:first-child {
        width: 100%;
        padding: var(--space);
        padding-right: calc(#{var(--space)} + #{$config-width});

        &:has(+ [data-panel-expanded='true']) {
            filter: opacity(0.5);
        }
    }

    .analysisConfig {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: $config-width;
        transition: width var(--transition-mid);
        z-index: 2;
        background-color: var(--color-background-foreground);
        border: var(--border-light);
        display: flex;
        overflow: hidden;

        .configToggle {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: $config-width;
            border-right: var(--border-light);
        }

        .configContent {
            width: 320px !important;
            padding: var(--space);
        }

        &[data-panel-expanded='true'] {
            width: 320px;
            box-shadow: var(--shadow-lifted);
        }
    }
}

.grid {

    
}