@use '../styles' as *;

.content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex-grow: 1;
	padding-block: 2rem;
}

.specialText {
	padding: $xs;
	margin-right: $sm;
	background-color: var(--c-primary);
	color: var(--c-fg-on-primary);
	border-radius: $radius-sm;
}

.cardGrid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 1.5rem;
	row-gap: 1.5rem;
	//grid-auto-flow: dense;
	width: 100%;
	min-height: 320px;
	//background-color: var(--c-primary-alpha-light);
	border-radius: $radius-md;

	@media (min-width: $screen-sm) {
		grid-template-columns: repeat(8, 1fr);
	}

	@media (min-width: $screen-lg) {
		grid-template-columns: repeat(12, 1fr);
	}
}

.analyzeAnother {
	position: relative;
	top: -12px;

	&:hover {
		text-decoration: none;
	}
}
