.card {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: fit-content;
    min-height: 200px;
    background-color: var(--context-color, var(--color-background-foreground));
    color: var(--context-color-text, var(--color-text));
    border-radius: var(--border-radius);
    border: var(--border-light);
    overflow: hidden;
    box-shadow: var(--shadow-raised);

    &.fullHeight {
        height: 100% !important;
    }
}

.header {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: var(--space-sm);
    padding: var(--space);
    color: var(--color-text);
    background-color: var(--color-background-foreground);
    border-bottom: var(--border-light);
}

.body {
    padding: var(--space);

    &.scrollable {
        max-height: 400px;
        overflow: hidden auto;
    }
}
