@use "./styles" as *;

.app {
  width: 100vw;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  min-height: #{calc(100% - $headerHeight - $footerHeight)};
  width: 100%;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;

  > div {
    @extend .full;
    padding: $lg 0;
  }
}
