@use '../styles' as *;

.card {
	background-color: var(--c-bg-neutral-light);
	box-shadow: 0 3px 3px 0 rgba(#000, 0.05), 0 5px 15px 0 rgba(#000, 0.05);
	border: 1px solid var(--c-b-neutral);
	border-radius: 8px;
	//overflow: hidden;
	display: flex;
	flex-direction: column;
	width: 100%;
	flex-grow: 1;
	grid-column-end: span 1;
	grid-row-end: span 1;

	&.full {
		@media (min-width: $smallResponsiveWidth) {
			grid-column-end: span 2; 
		}
	
		@media (min-width: $mediumResponsiveWidth) {
			grid-column-end: span 3; 
		}
	}

	&.wide {
		@media (min-width: $smallResponsiveWidth) {
			grid-column-end: span 2; 
		}
	}
}

.cardHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: $lg $md $md $md;
	div {
		display: flex;
		align-items: center;

		span {
			width: 40px;
			height: 40px;
			border-radius: 8px;
			display: inline-flex;
			align-items: center;
			justify-content: center;
		}
	}
}

.cardToggleBody {
	padding: 0rem 1.25rem;
	font-size: 0.875rem;
	max-height: 0px;
	overflow: hidden;
	transition: max-height 0.5s ease-in-out;
	background-color: var(--c-background-secondary);
	margin: 0px 20px;
	border-radius: 8px;

	&.active {
		--extended-height: 0px;
		max-height: var(--extended-height);
	}

}

.cardBody {
	padding: 0.5rem 1.25rem;
	font-size: 0.875rem;
	overflow-wrap: anywhere;
}
  
.cardFooter {
	margin-top: auto;
	padding: 0.5rem 1.25rem;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	border-top: 1px solid var(--c-b-neutral);
	
    a {
		color: var(--c-fg-neutral);
		font-weight: 500;
		font-size: 0.875rem;

        &:hover {
            color: var(--c-primary);
            text-decoration: none;
        }
	}
}

.icon {
    width: 32px;
    margin-right: 0.5rem;

    > svg {
        width: 30px;
    }
}