@use "../styles" as *;

.tooltipWrapper {
    display: inline-block;
    position: relative;
}

.tooltip {
    --tooltip-text-color: var(--c-fg-neutral-inverse);
    --tooltip-background-color: var(--c-bg-neutral-dark);
    --tooltip-border-color: var(--c-bg-neutral);
    --tooltip-border-width: 1px;
    --tooltip-arrow-size: 8px;
    --tooltip-spacing: 4px;
    --tooltip-total-offset: calc(var(--tooltip-spacing) + var(--tooltip-arrow-size));

    &[data-mode="bold"] {
        --tooltip-background-color: var(--c-primary);
        --tooltip-border-color: var(--c-fg-neutral-inverse);
    }

    position: absolute;
    background: transparent;
    z-index: 100;
    font-size: $mdFont;
    text-align: center;
    min-width: 256px;
    overflow: hidden;

    .tooltipInner {
        color: var(--tooltip-text-color);
        background-color: var(--tooltip-background-color);
        padding: $xs $sm;
        border-radius: $smRadius;
        box-shadow: var(--shadow);
        border: var(--tooltip-border-width) solid var(--tooltip-border-color);
        height: 100%;
        overflow-y: auto;
    }

    &.oneline {
        white-space: nowrap;
        min-width: 32px;
        max-width: none;
    }

    .tooltipInner::after,
    .tooltipInner::before {
        content: "";
        position: absolute;
        border-width: var(--tooltip-arrow-size);
        border-style: solid;
    }

    &[data-direction="top"] {
        bottom: 100%;
        left: 50%;
        padding-bottom: var(--tooltip-total-offset);
        transform: translateX(-50%);

        .tooltipInner::after,
        .tooltipInner::before {
            top: calc(100% - var(--tooltip-total-offset) - var(--tooltip-border-width));
            left: 50%;
            margin-left: calc(-1 * var(--tooltip-arrow-size));
            border-color: var(--tooltip-background-color) transparent transparent transparent;
        }

        .tooltipInner::before {
            border-color: var(--tooltip-border-color) transparent transparent transparent;
            top: calc(100% - var(--tooltip-total-offset));
        }
    }

    &[data-direction="bottom"] {
        top: 100%;
        left: 50%;
        padding-top: var(--tooltip-total-offset);
        transform: translateX(-50%);

        .tooltipInner::after,
        .tooltipInner::before {
            bottom: calc(100% - var(--tooltip-total-offset) - var(--tooltip-border-width));
            left: 50%;
            margin-left: calc(-1 * var(--tooltip-arrow-size));
            border-color: transparent transparent var(--tooltip-background-color) transparent;
        }

        .tooltipInner::before {
            border-color: transparent transparent var(--tooltip-border-color) transparent;
            bottom: calc(100% - var(--tooltip-total-offset));
        }
    }

    &[data-direction="right"] {
        top: 50%;
        left: 100%;
        padding-left: var(--tooltip-total-offset);
        transform: translateY(-50%);

        .tooltipInner::after,
        .tooltipInner::before {
            top: 50%;
            right: calc(100% - var(--tooltip-total-offset) - var(--tooltip-border-width));
            margin-top: calc(-1 * var(--tooltip-arrow-size));
            border-color: transparent var(--tooltip-background-color) transparent transparent;
        }

        .tooltipInner::before {
            border-color: transparent transparent var(--tooltip-border-color) transparent;
            right: calc(100% - var(--tooltip-total-offset));
        }
    }

    &[data-direction="left"] {
        top: 50%;
        right: 100%;
        padding-right: var(--tooltip-total-offset);
        transform: translateY(-50%);

        .tooltipInner::after,
        .tooltipInner::before {
            top: 50%;
            left: calc(100% - var(--tooltip-total-offset) - var(--tooltip-border-width));
            margin-top: calc(-1 * var(--tooltip-arrow-size));
            border-color: transparent transparent transparent var(--tooltip-background-color);
        }

        .tooltipInner::before {
            border-color: transparent transparent var(--tooltip-border-color) transparent;
            left: calc(100% - var(--tooltip-total-offset));
        }
    }
}
