@use '../../styles' as *;

.submit {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: $lg;
}

.fileList {
	font-size: $font-xs;
	margin-top: $sm;
}

.clearButton {
	background-color: transparent;
	border: none;
	padding: 0;
	cursor: pointer;
	margin-left: $sm;
}
