{
    "semi": true,
    "trailingComma": "none",
    "singleQuote": true,
    "printWidth": 200,
    "tabWidth": 4,
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "importOrder": ["^[./]"],
    "importOrderSeparation": false,
    "importOrderSortSpecifiers": true
}
