body {
	margin-top: 30px;
	padding-top: 3vw;
	padding-bottom: 3vw;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

.special-button {
    min-height: 200px;
    border-width: 4px;
    font-weight: bold;
    font-size: 18px;
    margin: 50px 0 25px 0px;
}