@use 'sass:color';

$primary: #143aa2;

:root {
    // Palette Colors
    --c-white: rgb(253 253 253);
    --c-grey-1: rgb(251 251 251);
    --c-grey-2: rgb(244 244 244);
    --c-grey-3: rgb(235 235 235);
    --c-grey-4: rgb(221 221 221);
    --c-grey-5: rgb(203 203 203);
    --c-grey-6: rgb(167 167 167);
    --c-grey-7: rgb(61 61 61);
    --c-grey-8: rgb(41 41 41);
    --c-grey-9: rgb(31 31 31);
    --c-grey-10: rgb(20 20 20);
    --c-black: rgb(1 2 3);
    --c-primary-alpha-light: #{rgba($primary, 0.05)};
    --c-primary-alpha: #{rgba($primary, 0.25)};
    --c-fg-on-primary: var(--c-grey-1);
    --c-positive: rgb(131 194 118);
    --c-critical: rgb(227 63 72);

    // Border
    --b-light: 1px solid var(--c-bg-dim);
    --b-dark: 1px solid var(--c-grey-10);

    // Transitions
    --t-fast: 0.25s ease;
    --t-mid: 0.5s ease;
    --t-slow: 1s ease;

    // Filters
    --f-disabled-opacity: 0.4;
    --f-disabled-saturation: 60%;
    --f-disabled-brightness: 0.9;
    --f-hover-brightness: 1.1;
    --f-active-brightness: 0.8;

    // Alpha
    $alpha-base: 144, 144, 144;
    $alpha-base-dark: 0, 0, 0;
    $primary-base: 42, 99, 147;

    --a-faint: rgba(#{$primary-base}, 0.055);
    --a-low: rgba(#{$alpha-base}, 0.05);
    --a-mid: rgba(#{$alpha-base}, 0.25);
    --a-dark: rgba(#{$alpha-base-dark}, 0.025);
    --a-darker: rgba(#{$alpha-base-dark}, 0.15);
    --text-header-xxl: 2rem;
    --text-header-xl: 1.7rem;
    --text-header-lg: 1.4rem;
    --text-header-md: 1.3rem;
}

html[data-theme='light'] {
    --c-primary: #{$primary};

    // Foreground Colors
    --c-fg-light: var(--c-black);
    --c-fg: var(--c-black);
    --c-fg-dim: var(--c-grey-10);
    --c-fg-dark: var(--c-grey-9);
    --c-fg-inverse: var(--c-grey-1);
    --color-selection: #{color.scale($primary, $lightness: 70%)};
    --c-primary-light: #{color.scale($primary, $lightness: 10%)};
    --c-primary-dark: #{color.scale($primary, $lightness: -25%)};

    // Background
    --c-bg-light: var(--c-grey-1);
    --c-bg: var(--c-grey-2);
    --c-bg-dim: var(--c-grey-3);
    --c-bg-dark: var(--c-grey-9);

    // Effect Colors
    --c-disabled-background: var(--c-grey-6);
    --c-disabled-color: var(--c-grey-5);
}

html[data-theme='dark'] {
    --c-primary: #2159c0;

    // Foreground Colors
    --c-fg-light: var(--c-white);
    --c-fg: var(--c-grey-1);
    --c-fg-dim: var(--c-grey-2);
    --c-fg-dark: var(--c-grey-3);
    --c-fg-inverse: var(--c-grey-10);
    --color-selection: #{color.scale($primary, $lightness: -40%)};
    --c-primary-light: #{color.scale($primary, $lightness: -10%)};
    --c-primary-dark: #{color.scale($primary, $lightness: -25%)};

    // Background
    --c-bg-light: var(--c-grey-10);
    --c-bg: var(--c-grey-9);
    --c-bg-dim: var(--c-grey-8);
    --c-bg-dark: var(--c-grey-3);

    // Effect Colors
    --c-disabled-background: var(--c-grey-7);
    --c-disabled-color: var(--c-grey-6);

    color-scheme: dark;
}
