@use '../' as *;

// Headers
h1,
h2,
h3,
h4,
h5,
h6 {
	letter-spacing: 0.015em;
}

hr {
	border: none;
	border-top: var(--b-light);
	margin: $md 0;
}

p {
	line-height: 2em;

	&:not(:last-child) {
		margin: 0 0 0.5em 0;
	}
}

// Links
a {
	text-decoration: none;
	color: var(--c-primary);

	&:hover {
		text-decoration: underline;
	}
}

// Interactables
:focus {
	outline: 0;
}

input[type='file'] {
	width: 100%;
	height: 96px;
	display: flex;
	border: var(--b-light);
	border-radius: $radius-sm;
	margin-top: $md;
	transition: border-color var(--t-fast);

	&::before {
		content: '';
		-webkit-mask: url('./images/upload_file.svg') no-repeat 100% 100%;
		mask: url('./images/upload_file.svg') no-repeat 100% 100%;
		-webkit-mask-size: cover;
		mask-size: cover;
		background-color: var(--c-fg);
		transition: background-color var(--t-fast);
		width: 64px;
		height: 64px;
		margin: auto;
		margin-top: $md;
		margin-bottom: $xxl;
	}

	&:hover {
		border-color: var(--c-primary);

		&::before {
			background-color: var(--c-primary);
		}
	}

	&:disabled {
		background-color: var(--c-disabled-color);
		transition: none;

		&::before {
			background-color: var(--c-bg);
			transition: none;
		}
	}
}

// Tables
table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	line-height: normal;
	text-align: left;
}

th {
	padding: $sm;
	border-bottom: var(--b-light);
}

td {
	padding: $xs;
}

tr:nth-child(even) {
	background-color: var(--c-bg-dim);
}

mark {
	background-color: var(--c-primary-alpha);
}

// Misc.
@keyframes appear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

*[data-title]:not([disabled]) {
	position: relative;

	&:hover:after {
		content: attr(data-title);
		position: absolute;
		top: -100%;
		left: 50%;
		transform: translate(-50%, 3rem);
		width: max-content;
		min-width: $xxl;
		max-width: 600px;
		max-height: 360px;
		overflow-y: auto;
		padding: $xs $md;
		border-radius: $radius-sm;
		background-color: var(--c-bg-dark);
		text-align: center;
		color: var(--c-fg-inverse);
		font-size: $font-md;
		font-weight: 500;
		white-space: pre-line;
		z-index: 100;
		opacity: 1;
		//animation: 0s ease-out 0.25s 1 appear;
		//animation-fill-mode: forwards;
		box-shadow: var(--shadow-floating);
		filter: none;
	}
}

em {
	font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
	font-style: normal;
	font-weight: 600;
}

section {
	padding-block: 48px !important;
}
