@use '../' as *;

// Headers
h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0.015em;
}

h1 {
    margin: $sm 0;
    font-size: 32px;
}

h2 {
    margin: $sm 0;
    font-size: 24px;
}

h3 {
    margin: $xs 0;
    font-size: 20px;
	font-weight: normal;
}

hr {
	border: none;
	border-top: var(--b-thin) var(--c-b-neutral);
	margin: $md 0;
}

// Links
a {
    text-decoration: none;
    color: var(--c-primary);

    &:hover {
        text-decoration: underline;
    }
}

// Buttons
button {
	@include button;
}

// Interactables
:focus {
	outline: 0;
}

input[type="file"] {
    width: 100%;
	height: 96px;
	display: flex;
	border: var(--b-thin) var(--c-b-neutral);
	border-radius: $smRadius;
	margin-top: $md;
    transition: border-color var(--t-fast);

	&::before {
		content: "";
		-webkit-mask: url('./images/upload_file.svg') no-repeat 100% 100%;
		mask: url('./images/upload_file.svg') no-repeat 100% 100%;
		-webkit-mask-size: cover;
		mask-size: cover;
  		background-color: var(--c-fg-neutral);
		transition: background-color var(--t-fast);
		width: 64px;
		height: 64px;
		margin: auto;
		margin-top: $md;
		margin-bottom: $xxl;
	}

	&:hover {
        border-color: var(--c-primary);

		&::before {
		    background-color: var(--c-primary);
		}
	}

	&::file-selector-button{
		@include button;
	}

	&:disabled {
		background-color: red;
	}
}

// Tables
table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	line-height: normal;
	text-align: left;

}
  
th {
	padding: $sm;
	border-bottom: var(--b-thin) var(--c-b-neutral);
}

td {
	padding: $xs;

}
  
tr:nth-child(odd):not(:first-child) {
	background-color: var(--c-bg-neutral-dim);
}