.gridControl {
    --v-height: auto;

    .gridCard {
        display: flex;
        flex-direction: column;

        .grid {
            width: auto;
            min-height: 240px;
            display: grid;

            .item {
                aspect-ratio: 1;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 24px;
                height: 24px;

                &:hover {
                    filter: brightness(1.3);
                    z-index: 5;
                }
            }

            .label {
                display: inline-flex;
                justify-content: start;
                align-items: center;
                width: 80px;
                font-size: 12px;
            }
        }

        .tools {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: var(--space-sm);
            position: absolute;
            bottom: 50px;
            right: 50px;
            padding: var(--space-sm);
            background-color: var(--color-background-foreground);
            box-shadow: var(--shadow-lifted);
            border-radius: var(--border-radius);
        }

        [class^='react-transform-wrapper'] {
            width: 100%;
            height: var(--v-height);
        }
    }
}

.legend {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 8px;
    margin-bottom: 8px;
    background-color: var(--color-background);
    border-radius: var(--border-radius);
    font-size: 12px;

    .legendList {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
        justify-content: center;
        align-items: center;
    }
}

.legendKey {
    display: flex;
    align-items: center;
    width: 100%;

    > span {
        text-align: left;
        margin-left: 0;
        margin-right: 8px;
        display: inline-block;
        width: 16px;
        height: 16px;
    }
}

.popover {
    min-width: min(500px, 60vw) !important;

    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--space-xl);
        font-size: var(--text-header-lg);
    }
}
