@use 'sass:math';

.content {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 $lg;

    .navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: auto;
    }

    .navLinks {
        display: flex;
        align-items: center;
        gap: $xs;
    }
}

.logo {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: var(--text-header-md);
    text-decoration: none !important;
    color: var(--color-primary);

    img {
        height: 40px;
        aspect-ratio: 4;
    }

    svg {
        fill: var(--color-primary) !important;
    }
}

.newslab {
    margin-left: $lg;

    a {
        text-decoration: none !important;
        color: var(--color-text);
    }
}

.tools {
    display: flex;
    flex-direction: column;
    gap: $sm;
}
